<div class="modal fade" id="sign-form" tabindex="-1" aria-labelledby="signinFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-5">
                <div class="mb-3">
                    <h3 class="modal-title text-primary">Sign In</h3>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control py-3 shadow-none input-field" id="username" name="username" placeholder="Email">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input :type="show_password ? 'text' : 'password'" class="form-control py-3 shadow-none input-field" id="password" name="password" placeholder="Password">
                    <button class="btn text-muted py-3" style="position: absolute; top: 0; right: 0" @click="show_password = !show_password">
                        <span class="material-symbols-outlined">
                            [[show_password ? 'visibility_off': 'visibility']]
                        </span>
                    </button>
                </div>
                <div class="mb-3 text-end">
                    <a href="#" class="text-muted">Forgot Password</a>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 rounded-pill py-3">Sign In</button>
                </div>
                <div class="text-muted text-center">
                    Don't have an account? 
                   <a href="#" style="text-decoration: none" data-bs-toggle="modal" data-bs-target="#signup-form" data-bs-dismiss="modal"> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>