<div class="modal fade" id="sign-form" tabindex="-1" aria-labelledby="signinFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-5">
                <div class="mb-2">
                    <h3 class="modal-title text-primary">Sign In</h3>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control py-3 shadow-none sign-in-input" id="username" name="username" placeholder="Username">
                </div>
                <div class="mb-3" style="position: relative;">
                    <input type="password" class="form-control py-3 shadow-none sign-in-input" id="password" name="password" placeholder="Password">
                    <button class="btn text-muted py-3" style="position: absolute; top: 0; right: 0">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </button>
                </div>
                <div class="mb-3 text-end">
                    <a href="#" class="text-muted">Forgot Password</a>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 rounded-pill py-3">Sign In</button>
                </div>
                <div class="text-muted text-center">
                    Don't have an account? 
                   <a href="#" style="text-decoration: none"> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>