<div class="modal fade" id="sign-form" tabindex="-1" aria-labelledby="signinFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- <div class="modal-header text-end">
            </div> -->
            <div class="modal-body p-5">
                {% include 'messages.html' %}
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <h3 class="modal-title text-primary">Sign In</h3>
                    <button class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="mb-3">
                    <input type="email" autocomplete="username" class="form-control py-3 shadow-none input-field" :class="email_error ? 'border-danger' : ''" v-model="email" placeholder="Email">
                    <span v-if="email_error" class="text-danger fs-6">[[email_error_message]]</span>
                </div>
                <div class="mb-3" style="position: relative;">
                    <input :type="show_password ? 'text' : 'password'" class="form-control py-3 shadow-none input-field" :class="password_error ? 'border-danger' : ''" v-model="password" placeholder="Password">
                    <button type="button" class="btn text-muted py-3" style="position: absolute; top: 0; right: 0" @click="show_password = !show_password">
                        <span class="material-symbols-outlined">
                            [[show_password ? 'visibility_off': 'visibility']]
                        </span>
                    </button>
                    <span v-if="password_error" class="text-danger fs-6">[[password_error_message]]</span>
                </div>
                <div class="mb-3 text-end">
                    <a href="#" class="text-muted">Forgot Password</a>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100 rounded-pill py-3" :disabled="signin_loading" @click="signIn">
                        <i v-if="signin_loading" class="text-white fa fa-spinner fa-spin" style="font-size: 1.3rem"></i>
                        <span v-else>Sign In</span>
                    </button>
                </div>
                <div class="text-muted text-center">
                    Don't have an account? 
                   <a href="#" style="text-decoration: none" data-bs-toggle="modal" data-bs-target="#signup-form" data-bs-dismiss="modal" @click="showForm"> Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>