{% extends 'base.html' %}{% load static %}
{% block css %}
<style>
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {

        .serch-field,
        .banner-text {
            width: 100%;
        }
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {

        .serch-field,
        .banner-text {
            width: 100%;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {

        .serch-field,
        .banner-text {
            width: 50%;
        }
    }
</style>
{% endblock css %}
{% block title %}Best Stock Prediction Site StockPlot{% endblock title %}
{% block body %}
<section id="banner">
    <div class="container py-5">
        <div class="text-center banner-text mx-auto">
            <h1 style="font-size: 2.5rem;">
                Stock market analysis for the serious part–time investor
            </h1>
            <p class="text-muted my-5">We use intuitive data visualizations and automated stock analysis to help you
                understand a stock's fundamentals within minutes.</p>
        </div>
        {% include 'search_box.html' %}
        <div class="mt-5 row g-3 align-items-start">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card bg-primary text-white p-3 mx-sm-auto" style="max-width: 450px;">
                    <div class="card-body">
                        <h3 class="card-title">Know what you own, and know why you own it!!</h5>
                        <h5 class="card-subtitle text-end">- By Peter Lynch</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2>
                    You're just 30 seconds away from unlocking the
                    <span class="text-primary">best stock analysis tool for part–time investors</span>
                </h2>
                <div>
                    <button class="btn btn-primary px-3">SUBSCRIBE NOW</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% if watchlists|length > 0 %}
<section id="watchlists" class="sub-section">
    <div class="container-fluid py-3">
        <h2 class="text-center">Watchlist</h2>
        <div class="d-flex w-100 watchlists-container" style="overflow-x: auto;">
            {% for stock in watchlists %}
            <div class="ms-3" style="width: 200px; min-width: 200px;">
                <div class="card w-100 py-3" @click="showStock('{{stock.symbol}}', '{{stock.name}}', '{{stock.currency}}')">
                    <div class="card-body">
                        <h5 class="text-center mb-2 card-title">{{stock.symbol}}</h5>
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="card-subtitle text-muted">{{stock.price}} {{stock.currency}}</h6>
                            <h6 class="card-subtitle {% if stock.diff > 0 %}text-success{% else %}text-danger{% endif %}">{% if stock.diff > 0 %}+{% endif %}{{stock.diff}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock body %}