{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 48
        }
        .btn-graph-type:hover {
            border: solid 0.1rem #0d6efd;
        }
        #sub-preloader {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            width: 100%;
            height: 100vh;
            background-color: white;
            background-image: url("{% static 'assets/preloader.gif' %}");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 150px 150px;
            opacity: 0.8;
        }
    </style>
{% endblock css %}
{% block title %}Timeseries - StockPlot{% endblock title %}
{% block body %}
    <div class="container pt-3">
        <div id="sub-preloader" v-if="graph_loading"></div>
        <div class="inputs">
            <div class="d-flex gx-5">
                <div style="position: relative; width: 350px"> 
                    <input v-model="search_value" type="text" class="form-control" placeholder="Search..." @keydown.enter.prevent="filter(search_value)" @update:model-value="updateSearch">
                    <div class="alert alert-dark bg-light text-center rounded py-2 px-2 p-0" v-if="show_results && search_results.length < 1">
                        <div class="text-primary">No Results found</div>
                    </div>
                    <div class="alert alert-dark bg-light text-center rounded py-2 px-2 p-0" v-if="filter_loading">
                        <i class="text-primary fa fa-2x fa-spinner fa-spin"></i>
                    </div>
                    <ul class="bg-light rounded py-2 px-2 dropdown-menu-light p-0" style="list-style: none; position: absolute; z-index: 9999; width: 100%;" v-if="show_results && search_results.length > 0">
                        <li v-for="result of search_results" class="text-wrap"><button type="button" class="dropdown-item" @click="showPlot(result.symbol, result.name, result.currency)">[[result.name]]</button></li>
                    </ul>
                </div>
                <div>
                    <button class="ms-2 btn btn-primary text-white" @click="filter(search_value)"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div> 
        <div class="mt-3">
            <div v-if="plot_added">
                <div class="row align-items-center" style="flex-wrap: wrap-reverse;">
                    <div class="col-lg-6 col-sm-12 col-md-6">
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == '1d') ? 'btn-primary' : ''" @click="setPeriod('1d')">1D</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == '5d') ? 'btn-primary' : ''" @click="setPeriod('5d')">5D</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == '1mo') ? 'btn-primary' : ''" @click="setPeriod('1mo')">1M</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == '6mo') ? 'btn-primary' : ''" @click="setPeriod('6mo')">6M</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == 'ytd') ? 'btn-primary' : ''" @click="setPeriod('ytd')">YTD</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == '1y') ? 'btn-primary' : ''" @click="setPeriod('1y')">1Y</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == '5y') ? 'btn-primary' : ''" @click="setPeriod('5y')">5Y</button>
                        <button class="btn btn-sm px-3 shadow-none" :class="(period == 'max') ? 'btn-primary' : ''" @click="setPeriod('max')">MAX</button>
                    </div>
                    <div class="d-flex justify-content-end align-items-baseline col-lg-6 col-md-6 col-sm-12">
                        <p class="fs-1">[[latest_price]]</p> <p class="fs-4 text-muted ms-2">[[currency]]</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn-graph-type btn text-primary d-flex shadow-none" @click="updateChartType">
                        <span class="material-symbols-outlined">[[(chart_type == 'line_chart') ? 'candlestick_chart' : 'show_chart']]</span>
                    </button>
                </div>
            </div>
            <div id="plot"></div>
        </div>
    </div>
{% endblock body %}
{% block script %}
    
{% endblock script %}